table.tablesorter {
  border-collapse: separate;
  border-spacing: 0;
  border-color: dimGray;
  border-style:solid;
  border-width:1px 1px 1px 0;
  margin:10px 0 0;
  width: 100%;
}

table.tablesorter thead tr th, table.tablesorter tfoot tr th {
  text-align: center;
  background: rgba(134, 134, 134, 1) no-repeat center right ;
  font-size: 13px;
  color: white;
  font-weight: bold;
  border-left: 1px solid dimGray;
  border-bottom: 1px solid dimGray;
  font-family: MS PMincho;
  font-weight: normal;
  text-shadow: black 1px 1px 2px, black -1px -1px 2px;
}

table.tablesorter thead tr th, table.tablesorter tfoot tr th, table.tablesorter tbody td {
  padding: 5px 3px;
}

table.tablesorter thead tr .tablesorter-header {
  background-image: url("chrome-extension://__MSG_@@extension_id__/moko/cardList/sort00.gif");
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}

table.tablesorter tbody tr:last-child td {
  border-bottom:none;
}

table.tablesorter tbody tr {
  height: 29px;
}

table.tablesorter tbody tr.even {
  background-color: rgba(64, 64, 64, 1);
}

table.tablesorter tbody td {
  text-align: center;
  line-height: 1.4em;
  padding: 2px 3px;
  vertical-align: middle;
  border-left: 1px solid dimGray;
  border-bottom: 1px solid dimGray;
}

table.tablesorter thead tr .tablesorter-headerAsc {
  background-image: url("chrome-extension://__MSG_@@extension_id__/moko/cardList/sort01.gif");
}

table.tablesorter thead tr .tablesorter-headerDesc {
  background-image: url("chrome-extension://__MSG_@@extension_id__/moko/cardList/sort02.gif");
}

table.tablesorter thead tr .tablesorter-headerDesc, table.tablesorter thead tr .tablesorter-headerAsc {
  background-color: burlyWood;
}

#tb_unit th {
  padding-right: 18px;
}

#tb_unit {
  white-space: nowrap;
}

#tb_unitlist td.隊 {
  background-color: #BA8BE5;
}

.pager > img {
  vertical-align: -4px;
}

#butaiTable > table.common_table1.center {
  font-family:arial;
  font-size: 11px;
}

#butaiTable > table.common_table1.center td {
  color: black;
}

/*** css used when "updateArrows" option is true ***/

/* the pager itself gets a disabled class when the number of rows is less than the size */
.pager.disabled {
  display: none;
}

/* hide or fade out pager arrows when the first or last row is visible */
.pager img.disabled {
  opacity: 0.5;
}

#mokotool>div.Loading {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0.8;
  width: 20px;
}

body {
  color: lightgrey;
  background-color: black;
}

#deck div.ano {
  float: left;
  min-height: 16ex;
  margin: 0 4px;
}

#deck>table {
  white-space: nowrap;
}

#cost {
  float:left;
  padding:5px 0;
}

#energy {
  float: left;
  white-space: nowrap;
  margin-right:1em;
}

#unitSet {
  float: left;
  font-size: small;
  margin-right:1em;
}

#unitSet span{
  margin-left:4px;
}

#unit_cnt_text {
  width: 4em;
}

#attack {
  float:left;
  white-space: nowrap;
  margin-right: 1em;
}

#attack input{
  width: 2em;
}

#check {
  float: left;
}

#onTable {
  clear: both;
  white-space: nowrap;
}

#onTable > div.pager {
  float: left;
}

#onTable > span {
  font-size: small;
  margin-left: 1ex;
  float: left;
  padding-top: 10px;
}

#coloption>button.uldoption {
  float: left;
  margin-left: 1em;
}

#coloption>ul.uldoption {
  clear: both;
  display: none;
}

#coloption>ul>li {
  float: left;
  width: 5.5em;
  margin-bottom: 4px;
  list-style: none;
}
