table.tablesorter { border-collapse: separate; border-spacing: 0; border-color: dimGray; border-style:solid; border-width:1px 1px 1px 0; margin:10px 0 0; width: 100%; }
table.tablesorter thead tr th, table.tablesorter tfoot tr th { text-align: center; background: rgba(134, 134, 134, 1) no-repeat center right ; font-size: 13px; color: white; font-weight: bold; border-left: 1px solid dimGray; border-bottom: 1px solid dimGray; font-family: MS PMincho; font-weight: normal; text-shadow: black 1px 1px 2px, black -1px -1px 2px; }
table.tablesorter thead tr th, table.tablesorter tfoot tr th, table.tablesorter tbody td { padding: 5px 3px; }
table.tablesorter thead tr .header { background-image: url("data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw=="); background-repeat: no-repeat; background-position: center right; cursor: pointer; }
table.tablesorter tbody tr:last-child td { border-bottom:none; }
table.tablesorter tbody tr { height: 29px; }
table.tablesorter tbody td { text-align: center; line-height: 1.4em; padding: 2px 3px; vertical-align: middle; border-left: 1px solid dimGray; border-bottom: 1px solid dimGray; }
table.tablesorter thead tr .headerSortUp { background-image: url("data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7"); }
table.tablesorter thead tr .headerSortDown { background-image: url("data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7"); }
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp { background-color: burlyWood; }
table#tb_unit th { padding-right: 18px; }
.pager > img { vertical-align: -4px; }
#butaiTable > table.common_table1.center { font-family:arial; font-size: 11px; }
#butaiTable > table.common_table1.center td { color: black; }
/*** css used when "updateArrows" option is true ***/
/* the pager itself gets a disabled class when the number of rows is less than the size */
.pager.disabled { display: none; }
/* hide or fade out pager arrows when the first or last row is visible */
.pager img.disabled { opacity: 0.5; }

#energy {
  margin-top: 4px;
}

#coloption {
  clear: both;
}

#coloption>button.uldoption {
  float: left;
  padding: 0 4px;
  margin-bottom: 5px;
}

#coloption>ul.uldoption {
  clear: both;
  display: none;
}

#coloption>ul>label>li {
  float: left;
  width: 5.5em;
  margin-bottom: 4px;
}

#mokotool>div.Loading {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0.8;
  width: 20px;
}

#unitlistdialog>div.pager {
  float: left;
  clear: both;
  padding-top: 5px;
}

#tb_unit {
  white-space: nowrap;
}

#unitSet {
}

#unit_cnt_text {
  width: 4em;
}

#v_head div.ano {
  float: left;
  margin: 1ex;
  min-height: 16ex;
}

#v_head>table {
  white-space: nowrap;
}